@import './variables';
@import './mixins';

:root {
  --header-height: 80px;
  --header-bg-color: #f58b8b;
  --footer-bg-color: #79e0a9;
  --footer-height: 120px;
  --left-column-bg-color: rgb(96, 192, 209);
  --right-column-bg-color: rgb(223, 193, 62);
  --main-column-bg-color: rgb(233, 131, 216);
}

.page-header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--header-bg-color);
}

.page-main {
  display: flex;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  @include tablets {
    flex-wrap: wrap;
  }
  @include mobile {
    background: magenta;
  }
}

.page-footer {
  min-height: var(--footer-height);
  background-color: var(--footer-bg-color);
}

.column {
  flex-shrink: 0;
  flex-grow: 0;
}

.column-left {
  width: 300px;
  background-color: var(--left-column-bg-color);
}

.column-right {
  width: 200px;
  background-color: var(--right-column-bg-color);
  @include tablets {
    width: 100%;
  }
}

.column-main {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 300px;
  background-color: var(--main-column-bg-color);
}

@media (max-width: $sm-screen) {
  .page-main {
    flex-wrap: wrap;
  }
  .column-left,
  .column-main {
    width: 100%;
  }

  .column-right {
    display: none;
  }
}
