.comments-form {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #efefef;
  border-radius: 7px;
  padding: 20px;
  box-sizing: border-box;
  &__field {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #efefef;
    outline: none;
    padding: 0;
    margin: 10px 0;
    padding: 10px;
    &:focus {
      border: 1px solid blue;
    }
  }
  &__control {
    --btn-bg-color: #64b972;
    width: 100%;
    border: 1px solid var(--btn-bg-color);
    background-color: var(--btn-bg-color);
    color: #fff;
    padding: 15px;
  }
}

.comment {
  width: 500px;
  padding: 20px;
  border: 1px solid #efefef;
  border-radius: 7px;
  margin: 20px auto;
  &__author {
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
  }
}
