:root {
  --column-width: calc(100% / 12);
}

.grid {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

[class*='col-'] {
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 50px;
  border: 1px solid red;
}

.col-1 {
  width: var(--column-width);
}

.col-2 {
  width: calc(var(--column-width) * 2);
}

.col-3 {
  width: calc(var(--column-width) * 3);
}

.col-4 {
  width: calc(var(--column-width) * 4);
}

.col-5 {
  width: calc(var(--column-width) * 5);
}

.col-6 {
  width: calc(var(--column-width) * 6);
}

.col-7 {
  width: calc(var(--column-width) * 7);
}

.col-8 {
  width: calc(var(--column-width) * 8);
}

.col-9 {
  width: calc(var(--column-width) * 9);
}

.col-10 {
  width: calc(var(--column-width) * 10);
}

.col-11 {
  width: calc(var(--column-width) * 11);
}

.col-12 {
  width: calc(var(--column-width) * 12);
}

@media (max-width: 960px) {
  .col-md-1 {
    width: var(--column-width);
  }

  .col-md-2 {
    width: calc(var(--column-width) * 2);
  }

  .col-md-3 {
    width: calc(var(--column-width) * 3);
  }

  .col-md-4 {
    width: calc(var(--column-width) * 4);
  }

  .col-md-5 {
    width: calc(var(--column-width) * 5);
  }

  .col-md-6 {
    width: calc(var(--column-width) * 6);
  }

  .col-md-7 {
    width: calc(var(--column-width) * 7);
  }
  .col-md-8 {
    width: calc(var(--column-width) * 8);
  }

  .col-md-9 {
    width: calc(var(--column-width) * 9);
  }

  .col-md-10 {
    width: calc(var(--column-width) * 10);
  }

  .col-md-11 {
    width: calc(var(--column-width) * 11);
  }

  .col-md-12 {
    width: calc(var(--column-width) * 12);
  }
}

@media (max-width: 767px) {
  .col-sm-1 {
    width: var(--column-width);
  }

  .col-sm-2 {
    width: calc(var(--column-width) * 2);
  }

  .col-sm-3 {
    width: calc(var(--column-width) * 3);
  }

  .col-sm-4 {
    width: calc(var(--column-width) * 4);
  }

  .col-sm-5 {
    width: calc(var(--column-width) * 5);
  }

  .col-sm-6 {
    width: calc(var(--column-width) * 6);
  }

  .col-sm-7 {
    width: calc(var(--column-width) * 7);
  }
  .col-sm-8 {
    width: calc(var(--column-width) * 8);
  }

  .col-sm-9 {
    width: calc(var(--column-width) * 9);
  }

  .col-sm-10 {
    width: calc(var(--column-width) * 10);
  }

  .col-sm-11 {
    width: calc(var(--column-width) * 11);
  }

  .col-sm-12 {
    width: calc(var(--column-width) * 12);
  }
}

@media (max-width: 575px) {
  .col-xs-1 {
    width: var(--column-width);
  }

  .col-xs-2 {
    width: calc(var(--column-width) * 2);
  }

  .col-xs-3 {
    width: calc(var(--column-width) * 3);
  }

  .col-xs-4 {
    width: calc(var(--column-width) * 4);
  }

  .col-xs-5 {
    width: calc(var(--column-width) * 5);
  }

  .col-xs-6 {
    width: calc(var(--column-width) * 6);
  }

  .col-xs-7 {
    width: calc(var(--column-width) * 7);
  }
  .col-xs-8 {
    width: calc(var(--column-width) * 8);
  }

  .col-xs-9 {
    width: calc(var(--column-width) * 9);
  }

  .col-xs-10 {
    width: calc(var(--column-width) * 10);
  }

  .col-xs-11 {
    width: calc(var(--column-width) * 11);
  }

  .col-xs-12 {
    width: calc(var(--column-width) * 12);
  }
}
